#!/bin/bash
# templates/keepalived_notify/vip_fault.sh.j2

LOGFILE="/var/log/keepalived_vip.log"

mkdir -p "$(dirname "$LOGFILE")"
echo "$(date '+%F %T') - $(hostname -s) entró en estado FAULT" >> "$LOGFILE"