#!/bin/bash
LOGFILE="/var/log/keepalived_vip.log"
IFACE="{{ keepalived_interface }}"
VIPs=({% for vip in vip_addresses %}"{{ vip }}" {% endfor %})

mkdir -p "$(dirname $LOGFILE)"
echo "==============================" >> "$LOGFILE"

for vip in "${VIPs[@]}"; do
  if ! ip addr show dev $IFACE | grep -q "$vip"; then
    ip addr add "$vip" dev $IFACE
    echo "$(date '+%F %T') - Añadida VIP $vip a $IFACE" >> "$LOGFILE"
  fi
done

MSG="$(date '+%F %T') - [KEEPALIVED] $(hostname -s) asumió el rol MASTER para $1"
echo "$MSG" >> "$LOGFILE"
logger -t keepalived "$MSG"